C/triangle1
C/triangle2
C/00
C/Mod 2.5/P1
C/Mod 2.5/P2
C/Mod 2.5/P3
C/Mod 2.5/P4
C/Mod 2.5/P5
C/Mod 2.5/P6
C/Mod 3/P01
C/Mod 3/P02
C/Mod 3/P03
C/Mod 3/P04
C/Mod 3/P05
C/Mod 3/P06
C/Mod 3/P07
C/Mod 3/P08
C/Mod 3/P09
C/Mod 3/P10
C/Mod 3/P11
C/Mod 3/P12
C/Mod 3/P13
C/Mod 3/P14
C/Mod 3/P15
C/Mod 3/P16
C/Mod 3/P17
C/Mod 3/P18
C/Mod 3/P19
C/Mod 3/P20
C/Mod 3/P21
C/Mod 3/P22
C/Mod 3/P23
C/Mod 3/P24
C/Mod 3/P25
C/Mod 3/P26
C/Mod 3.5/P1
C/Mod 3.5/P2
C/Mod 3.5/P3
C/Mod 3.5/P4
C/Mod 3.5/P5
C/Mod 3.5/P6
C/Mod 4/P1
C/Mod 4/P2
C/Mod 4/P3
C/Mod 4/P4
C/Mod 4/P5
C/Mod 4/P6
C/Practice/3n+1
C/Mod 5.5/P1
C/Mod 5.5/P2
C/Mod 5.5/P3
C/Mod 5.5/P4 
C/Mod 5.5/P5 
C/Mod 5.5/P6
C/Assignment/Theory Exam 1/1-Swap
C/Assignment/Theory Exam 1/2-MaxMin
C/Assignment/Theory Exam 1/3-digitCount
C/Assignment/Theory Exam 1/4-digitSum
C/Assignment/Theory Exam 1/5-weirdAlgo
C/Assignment/Theory Exam 1/6-divisible
C/Assignment/Theory Exam 1/7-GCD
C/Assignment/Theory Exam 1/9-factors
C/Assignment/Theory Exam 1/10-Prime
C/Assignment/Theory Exam 1/8-LCM
C/Practice/00-array
C/Mod 06 Lab/elephant
C/Mod 06 Lab/VanyaANDFence
C/Mod 06 Lab/evenOdds
C/Mod 06 Lab/DominoPilling
C/Practice/dominoes_accumulation
C/Practice/three_cards
C/Practice/fair_match
C/Practice/wrong_substraction
C/Practice/roomNumber
C/Practice/00
C/Practice/max
C/Practice/even_odd
C/Practice/missingNumb
C/Practice/star
C/Practice/star_triangle
C/Practice/star_pyramid
C/Practice/hollow_p
C/Practice/hollow_triangle
C/Practice/marks_loop
C/Mod 9.5/P1_arrayReverse
C/Mod 9.5/P2
C/Mod 9.5/P3_Unique-value
C/Mod 9.5/P4
C/Mod 9.5/P5
C/Mod 9.5/P6_Pattern
C/Mod 10 Lab/Team
C/Mod 10 Lab/Team_nested
C/Mod 10 Lab/IQ-test
C/Mod 10 Lab/next-round
C/Mod 10 Lab/increasing-array
C/Mod 10.5/P1_fibonacci
C/Mod 10.5/P2_Sorting
C/Practice/spy-detected
C/Mod 10.5/P3_odd-sum
C/Mod 10.5/P4_find-element
C/Mod 10.5/P5_prime-numb
C/Mod 10.5/P6_Pattern
C/Mod 10.5/P7_Brain-photos
C/Mod 10.5/P8_Cards-friends
C/Mod 10.5/P9-Equal_Candies
C/Lab Assignment 01/P1-Missing_number
C/Lab Assignment 01/P2-Out_of_team
C/Lab Assignment 01/P3-Different_Pattern
C/Lab Assignment 01/P4-Highest_Marks
C/Lab Assignment 01/P5-Bablu_Phone
C/Lab Assignment 01/P6-Secret_Code
C/Lab Assignment 01/P7-Divide
C/Lab Assignment 01/P8-Hand_shake
C/Practice/string
C/Practice/capital_string
C/Practice/way_long_words
C/Practice/word_capital
C/Practice/diagonal_P
C/Practice/diagonal_S
C/Practice/scalar_P
C/Practice/scalar_S
C/Practice/unique_array
C/Practice/reverse_array
C/Mod 13.5/P1-string_sort
C/Mod 13.5/P2_palindrome
C/Mod 13.5/P3-Count_vowel
C/Mod 13.5/P5-chess
C/Mod 13.5/P4-matrix_addition
C/Mod 13.5/P6-transpose_matrix
C/Mod 13.5/P7-Number_smaller
C/Mod 13.5/P8-review_site
C/Mod 13.5/P9-Piranha
C/Mod 14/P1-selection_sort
C/Mod 14/P2-Bubble_sort
C/Mod 14/P3-Beautiful_matrix
C/Mod 14/P4-string_task
C/Mod 14/P5-Petya_string
C/Practice/concatenation
C/Mod 14.5/P1-Concatenation
C/Mod 14.5/P2-binary_check
C/Mod 14.5/P3-string_cost
C/Mod 14.5/P4-Matrix-multiplication
C/Mod 14.5/P5-matrix_vanish
C/Mod 14.5/P6-matrix_print
C/Assignment/Theory-Mid Term/01-array_addition
C/Assignment/Theory-Mid Term/03-loop_initialize
C/Assignment/Theory-Mid Term/P4-string_initialize
C/Assignment/Theory-Mid Term/05-string_create
C/Assignment/Theory-Mid Term/10-sum_of_digit
C/Assignment/Theory-Mid Term/11-Magic_matrix
C/Assignment/Lab Mid Term/P1-Divide_again
C/Assignment/Lab Mid Term/P2-Operator
C/Assignment/Lab Mid Term/P3-2d_array
C/Assignment/Lab Mid Term/P4-Binary_pairs
C/Assignment/Lab Mid Term/P5-Xoss_Pattern
C/Assignment/Lab Mid Term/P6-Plus_Minus
C/Assignment/Lab Mid Term/P7-Lucky_Seven
C/Assignment/Lab Mid Term/P8-Max_Even
C/Mod 20 Function/GCD
C/Mod 20 Function/LCM
C/Mod 20 Function/Prime
C/Mod 20 Function/Sum
C/Mod 20 Function/Even_Odd
C/Mod 20 Function/largest_number
