C/triangle1
C/triangle2
C/00
C/Mod 2.5/P1
C/Mod 2.5/P2
C/Mod 2.5/P3
C/Mod 2.5/P4
C/Mod 2.5/P5
C/Mod 2.5/P6
C/Mod 3/P01
C/Mod 3/P02
C/Mod 3/P03
C/Mod 3/P04
C/Mod 3/P05
C/Mod 3/P06
C/Mod 3/P07
C/Mod 3/P08
C/Mod 3/P09
C/Mod 3/P10
C/Mod 3/P11
C/Mod 3/P12
C/Mod 3/P13
C/Mod 3/P14
C/Mod 3/P15
C/Mod 3/P16
C/Mod 3/P17
C/Mod 3/P18
C/Mod 3/P19
C/Mod 3/P20
C/Mod 3/P21
C/Mod 3/P22
C/Mod 3/P23
C/Mod 3/P24
C/Mod 3/P25
C/Mod 3/P26
C/Mod 3.5/P1
C/Mod 3.5/P2
C/Mod 3.5/P3
C/Mod 3.5/P4
C/Mod 3.5/P5
C/Mod 3.5/P6
C/Mod 4/P1
C/Mod 4/P2
C/Mod 4/P3
C/Mod 4/P4
C/Mod 4/P5
C/Mod 4/P6
C/Practice/3n+1
C/Mod 5.5/P1
C/Mod 5.5/P2
C/Mod 5.5/P3
C/Mod 5.5/P4 
C/Mod 5.5/P5 
C/Mod 5.5/P6
C/Assignment/Theory Exam 1/1-Swap
C/Assignment/Theory Exam 1/2-MaxMin
C/Assignment/Theory Exam 1/3-digitCount
C/Assignment/Theory Exam 1/4-digitSum
C/Assignment/Theory Exam 1/5-weirdAlgo
C/Assignment/Theory Exam 1/6-divisible
C/Assignment/Theory Exam 1/7-GCD
C/Assignment/Theory Exam 1/9-factors
C/Assignment/Theory Exam 1/10-Prime
C/Assignment/Theory Exam 1/8-LCM
C/Practice/00-array
C/Mod 06 Lab/elephant
C/Mod 06 Lab/VanyaANDFence
C/Mod 06 Lab/evenOdds
C/Mod 06 Lab/DominoPilling
C/Practice/dominoes_accumulation
C/Practice/three_cards
C/Practice/fair_match
C/Practice/wrong_substraction
C/Practice/roomNumber
C/Practice/00
C/Practice/max
C/Practice/even_odd
C/Practice/missingNumb
C/Practice/star
C/Practice/star_triangle
C/Practice/star_pyramid
C/Practice/hollow_p
C/Practice/hollow_triangle
C/Practice/marks_loop
C/Mod 9.5/P1_arrayReverse
C/Mod 9.5/P2
C/Mod 9.5/P3_Unique-value
C/Mod 9.5/P4
C/Mod 9.5/P5
C/Mod 9.5/P6_Pattern
C/Mod 10 Lab/Team
C/Mod 10 Lab/Team_nested
C/Mod 10 Lab/IQ-test
C/Mod 10 Lab/next-round
C/Mod 10 Lab/increasing-array
C/Mod 10.5/P1_fibonacci
C/Mod 10.5/P2_Sorting
C/Practice/spy-detected
C/Mod 10.5/P3_odd-sum
C/Mod 10.5/P4_find-element
C/Mod 10.5/P5_prime-numb
C/Mod 10.5/P6_Pattern
C/Mod 10.5/P7_Brain-photos
C/Mod 10.5/P8_Cards-friends
C/Mod 10.5/P9-Equal_Candies
C/Assignment/Lab Assignment 01/P1-Missing_number
C/Assignment/Lab Assignment 01/P2-Out_of_team
C/Assignment/Lab Assignment 01/P3-Different_Pattern
C/Assignment/Lab Assignment 01/P4-Highest_Marks
C/Assignment/Lab Assignment 01/P5-Bablu_Phone
C/Assignment/Lab Assignment 01/P6-Secret_Code
C/Assignment/Lab Assignment 01/P7-Divide
C/Assignment/Lab Assignment 01/P8-Hand_shake
C/Practice/string
C/Practice/capital_string
C/Practice/way_long_words
C/Practice/word_capital
C/Practice/diagonal_P
C/Practice/diagonal_S
C/Practice/scalar_P
C/Practice/scalar_S
C/Practice/unique_array
C/Practice/reverse_array
C/Mod 13.5/P1-string_sort
C/Mod 13.5/P2_palindrome
C/Mod 13.5/P3-Count_vowel
C/Mod 13.5/P5-chess
C/Mod 13.5/P4-matrix_addition
C/Mod 13.5/P6-transpose_matrix
C/Mod 13.5/P7-Number_smaller
C/Mod 13.5/P8-review_site
C/Mod 13.5/P9-Piranha
C/Mod 14/P1-selection_sort
C/Mod 14/P2-Bubble_sort
C/Mod 14/P3-Beautiful_matrix
C/Mod 14/P4-string_task
C/Mod 14/P5-Petya_string
C/Practice/concatenation
C/Mod 14.5/P1-Concatenation
C/Mod 14.5/P2-binary_check
C/Mod 14.5/P3-string_cost
C/Mod 14.5/P4-Matrix-multiplication
C/Mod 14.5/P5-matrix_vanish
C/Mod 14.5/P6-matrix_print
C/Assignment/Theory-Mid Term/01-array_addition
C/Assignment/Theory-Mid Term/03-loop_initialize
C/Assignment/Theory-Mid Term/P4-string_initialize
C/Assignment/Theory-Mid Term/05-string_create
C/Assignment/Theory-Mid Term/10-sum_of_digit
C/Assignment/Theory-Mid Term/11-Magic_matrix
C/Assignment/Lab Mid Term/P1-Divide_again
C/Assignment/Lab Mid Term/P2-Operator
C/Assignment/Lab Mid Term/P3-2d_array
C/Assignment/Lab Mid Term/P4-Binary_pairs
C/Assignment/Lab Mid Term/P5-Xoss_Pattern
C/Assignment/Lab Mid Term/P6-Plus_Minus
C/Assignment/Lab Mid Term/P7-Lucky_Seven
C/Assignment/Lab Mid Term/P8-Max_Even
C/Function/Mod 20/GCD
C/Function/Mod 20/LCM
C/Function/Mod 20/Prime
C/Function/Mod 20/Sum
C/Function/Mod 20/Even_Odd
C/Function/Mod 20/largest_number
C/Function/Mod 21/Largest_number
C/Function/Mod 21/Nested_function
C/Function/Mod 21/Factorial
C/Function/Mod 21/nPr
C/Function/Mod 21/nCr
C/Function/Mod 21/Problem
C/Function/Mod 21.5 Lab/P1
C/Function/Mod 21.5 Lab/P2
C/Function/Mod 21.5 Lab/P3
C/Function/Mod 21.5 Lab/P4
C/Function/Mod 21.5 Lab/P5
C/Function/Mod 21.5 Lab/P6
C/Function/Mod 22 Lab/03-vowel
C/Function/Mod 22.5/P1-binary
C/Function/Mod 22.5/P2-Pattern
C/Function/Mod 22.5/P3-string_concat
C/Function/Mod 22 Lab/02-prime
C/Assignment/Theory Assign 02/01
C/Assignment/Theory Assign 02/03
C/Assignment/Theory Assign 02/04
C/Assignment/Theory Assign 02/06
C/Assignment/Theory Assign 02/05
C/Assignment/Theory Assign 02/07
C/Assignment/Theory Assign 02/08
C/Assignment/Theory Assign 02/09
C/Assignment/Theory Assign 02/10
C/Mod 25.5/P1
C/Mod 25.5/P2
C/Mod 25.5/P3
C/Function/Mod 22.5/P5-matrix_multi
C/Mod 25.5/P4
C/Mod 25.5/P5
C/Mod 25.5/P6
C/Mod 25.5/CF-Dislike_Threes
C/Mod 25.5/CF-Find_Array
C/Mod 26.5/P1
C/Mod 26.5/P2
C/Mod 26.5/P3
C/Mod 26.5/P4
C/Mod 26.5/P5
C/Mod 26.5/P6
C/Assignment/Lab Assignment 02/02-Sort_again
C/Assignment/Lab Assignment 02/03-Print_it
C/Assignment/Lab Assignment 02/04-Even_Numbers
C/Assignment/Lab Assignment 02/01-Calculate_Sum
C/Assignment/Lab Assignment 02/05-Odd_Even
C/Assignment/Lab Assignment 02/06-Div35
C/Assignment/Lab Assignment 02/07-Swap
C/Assignment/Lab Assignment 02/08-Broken_Keyboard
C/Assignment/Lab Assignment 02/09-Mixed_array
C/Assignment/Lab Assignment 02/10-Beautiful_array
C/Practice/multi_return
C/Practice/type_cast
C/Practice/Mod 28/calloc
C/Practice/Mod 28/malloc
C/Practice/Mod 28/P-1
C/Practice/Mod 29 Structure/create_struct
C/Mod 30 Lab/P1_Manhattan
C/Mod 30 Lab/P2_middle_point
C/Mod 30 Lab/P3_triangle
C/Mod 30 Lab/P4_array
C/Mod 30 Lab/P5_complex
C/Assignment/Theory_Final/1_a
C/Assignment/Theory_Final/2_fibonacci
C/Assignment/Theory_Final/3_Pointer
C/Assignment/Theory_Final/4_sort_string
C/Assignment/Theory_Final/5-malloc
C/Assignment/Theory_Final/7-matrix_add
C/Assignment/Theory_Final/8_c-struct
C/Mod 32/P-1
C/Mod 32/P-2
C/Mod 32/P-3
C/Mod 32/P-4
C/Mod 32/P-5
C/Mod 32.5 Lab/P1
C/Mod 32.5 Lab/P2
C/Mod 32.5 Lab/P3
C/Mod 32.5 Lab/P4
C/Mod 32.5 Lab/P5
C/Assignment/Lab_Final/Fifa_Year
C/Assignment/Lab_Final/Hexa_Pairs
C/Assignment/Lab_Final/L_to_R
C/Assignment/Lab_Final/Reverse_Code
C/Assignment/Lab_Final/Search_Engine
C/Assignment/Lab_Final/Sort_Diff
C/Assignment/Lab_Final/Twin_Number
C/Assignment/Lab_Final/Unique
C/Assignment/Lab_Final/WOW_Pattern
C/Recap/Mod 18 Loop/P2

//end of c   -----------------------------------------------------

DS/W01/Mod1/P1
DS/W01/Mod1/str
DS/W01/Mod1/file
DS/W01/Mod1/file2
DS/W01/Mod1/P2
DS/W01/Mod1/namespace
DS/Rough
DS/W01/Mod2/string
DS/W01/Mod2/array
DS/W01/Mod2/dynamic_malloc
DS/W01/Mod2/function
DS/W01/Mod2/Pointer
DS/W01/Mod2/vector
DS/W01/Mod2/built_in_func
DS/W01/Mod2.5/I-Distinct_Numbers
DS/W01/Mod2.5/A-Weird_Algorithm
DS/W01/Mod2.5/B-Repetitions
DS/W01/Mod2.5/C-Permutations
DS/W01/Mod2.5/D-Increasing_Array
DS/W01/Mod2.5/E-Missing_Number
DS/W01/Mod2.5/F-QQ_solver
DS/W01/Mod2.5/G-A_Reverse
DS/W01/Mod2.5/H-Distinct_Strings
DS/W01/Mod3/class
C++/Mod/1
C++/Mod/namespace
C++/Mod/array
C++/Mod/dynamic_alloc
C++/Mod/built-in
C++/Mod/iterator
C++/Mod/string_size
DS/W01/Mod3/access_modifier
DS/W01/Mod3/constructor_destructor
DS/W01/Mod3/sort_array_class
DS/W02/Mod4/constant_compl-1
DS/W02/Mod4/variable_compl
DS/W02/Mod4/On2
DS/W02/Mod4/On2-2
DS/W02/Mod4/expo
DS/W02/Mod4/linear_search
DS/W02/Mod4.5/P1
DS/W02/Mod4.5/P2
DS/W02/Mod4.5/P3
DS/W02/Mod4.5/P4
DS/W02/Mod4.5/P5
DS/W02/Mod4.5/P6
DS/W02/Mod5/Binary_Search
DS/W02/Mod5/dynamic_array
DS/W02/Mod5/delete_dynamic_array
C++/00
DS/W02/Mod5.5/02
