C/triangle1
C/triangle2
C/00
C/Mod 2.5/P1
C/Mod 2.5/P2
C/Mod 2.5/P3
C/Mod 2.5/P4
C/Mod 2.5/P5
C/Mod 2.5/P6
C/Mod 3/P01
C/Mod 3/P02
C/Mod 3/P03
C/Mod 3/P04
C/Mod 3/P05
C/Mod 3/P06
C/Mod 3/P07
C/Mod 3/P08
C/Mod 3/P09
C/Mod 3/P10
C/Mod 3/P11
C/Mod 3/P12
C/Mod 3/P13
C/Mod 3/P14
C/Mod 3/P15
C/Mod 3/P16
C/Mod 3/P17
C/Mod 3/P18
C/Mod 3/P19
C/Mod 3/P20
C/Mod 3/P21
C/Mod 3/P22
C/Mod 3/P23
C/Mod 3/P24
C/Mod 3/P25
C/Mod 3/P26
C/Mod 3.5/P1
C/Mod 3.5/P2
C/Mod 3.5/P3
C/Mod 3.5/P4
C/Mod 3.5/P5
C/Mod 3.5/P6
C/Mod 4/P1
C/Mod 4/P2
C/Mod 4/P3
C/Mod 4/P4
C/Mod 4/P5
C/Mod 4/P6
